footer {
    height: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    padding: 40px 40px 0 40px
}

.r {
    margin-right: 12px;
    font-size: 12px;
    color: #858585;
    cursor: pointer
}

.p {
    color: #212529;
}

@media (max-width: 680px) {
    .w {
        padding-left: 20px
    }
}
